.container{
    background-color: rgba(102, 88, 88, 0.301);
    
}
.strikethrough { 
    text-decoration:line-through; }

    .glow-button {
        
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out;
    }
    
    .glow-button:hover,
    .glow-button:active {
        box-shadow: 0 0 10px 2px rgba(255, 193, 7, 0.8);
    }
    